<div>
  <div class="card">
    <h2 class="page-title">Create New Post</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Title</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="password-login">Blog</label>
        <input class="form-input" type="password" id="blog" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/createpost.js"></script>