<h1>Your Posts</h1>

{{#each posts as |post| }}
<div class="blog">
  <div>
    <h2>{{post.title}} {{post.user}}{{post.date}}</h2>
  </div>
  <div>
    <p>{{post.description}}"</p>
{{/each}}

<div>
    <a href="/createpost">+ New Post</a>
</div>